body {
  background-color: #eceff4;
}

.btn-orange {
  background-color: #ef9d55;
  color: black;
}

.btn-orange:hover {
  background-color: #f3b57c;
}

.navbar-brand {
  color: whitesmoke;
  margin-right: 30px;
  font-style: italic;
  font-weight: 700;
  font-size: 1.4em;
  font-family: sans-serif;
  text-shadow: 1px 1px 0.5px #f3b57c;
}
.navbar-brand:hover {
  color: whitesmoke;
}

.search-button-col {
  padding-left: 0;
}

.nav-link {
  font-size: larger;
}

.map-container {
  padding: 1rem 0;
}

.leaflet-container {
  border: 1px solid #d2d2d2;
  border-radius: 7px;
}

.table-hover td {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-toggler {
    background-color: hsl(210, 6%, 35%);
  }

  .nav-link {
    padding: 12px 0;
  }

  .search-box {
    margin: 5px 0;
  }
}

@media (max-width: 315px) {
  .search-button-col {
    margin: 12px;
  }
}

/* https://github.com/tobiasahlin/SpinKit MIT License */

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #6e757c;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
