body {
  background-color: #eceff4;
}

.navbar-brand {
  color: whitesmoke;
  margin-right: 30px;
  font-style: italic;
  font-weight: 700;
  font-size: 1.4em;
  font-family: sans-serif;
  text-shadow: 1.5px 1.5px 0.5px #138496;
}
.navbar-brand:hover {
  color: whitesmoke;
}

.search-button-col {
  padding-left: 0;
}

@media (max-width: 768px) {
  .search-box {
    margin: 5px 0;
  }
}
